/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/public/bower_components
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
filemanager
public/admin/bootstrap
public/admin/build
public/admin/font-awesome
public/admin/jquery-ui
public/admin/tinymce
public/admin/jquery
public/admin/jquery
thumbs
uploads